<h2>Todo</h2>

<div>
<span> {{remaining()}} of {{todos.length}} remaining</span>
[ <a href="" ng-click="archive()">archive</a> ]
<ul class="unstyled">
  <li ng-repeat="todo in todos">
    <input type="checkbox" ng-model="todo.done" ng-click="saveDone($index)">
    <span class="done-{{todo.done}}">{{todo.text}}</span>
  </li>
</ul>
<form name="newTodo">
  <input name="todoText" type="text" size="30" ng-maxlength="15"
         placeholder="add new todo here" ng-model="todoText">
  <input class="btn btn-primary" type="submit" value="add" ng-click="addTodo()" ng-disabled="!todoText">
</form>
<div ng-show="newTodo.todoText.$error.maxlength">
  the text is longer than 15 chars<br>
  {{newTodo.todoText.$error}}
</div>
</div>