<!doctype html>
<html ng-app="ModuleDemo">
 <head>
    <link rel="stylesheet" media="screen" href="../../assets/bootstrap/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="app.js"></script>
    <script type="text/ng-template" id="template1.html">
        This is the content of the template 1
    </script>
 </head>
 <body ng-controller="DemoController">
    <div class="container">
        <div ng-include="'template1.html'"></div>
        <div ng-include="'template2.html'"></div>
    </div>
 </body>
</html>