<!doctype html>
<html ng-app="DirectivesDemo">
 <head>
   <link rel="stylesheet" media="screen" href="../../assets/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" media="screen" href="app.css">
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
   <script src="app.js"></script>
   <script src="directive.js"></script>
 </head>
 <body ng-controller="DemoCtrl">
    <h2>Component demo</h2>
    <input ng-model="title">
    <br>
    <textarea ng-model="text"></textarea>
    <br/>
    <pane title="{{title}}">{{text}}</pane>
 </body>
</html>